@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

body {
  background-image: url("/pokemons.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}