@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/pokemons.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}